<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="Product" connectionString="data source=JUSTIN-DESKTOP;initial catalog=dollar_computers;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="DollarComputers.Properties.Settings.DollarComputersConnectionString"
      connectionString="Data Source=dollarcomputers.database.windows.net;Initial Catalog=DollarComputers;Persist Security Info=True;User ID=jellery;Password=7Nestea!2"
      providerName="System.Data.SqlClient" />
    <add name="DollarComputers.Properties.Settings.dollar_computersConnectionString"
      connectionString="Data Source=JUSTIN-DESKTOP;Initial Catalog=dollar_computers;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>